<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.MacGo"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:label="@string/app_name"
            android:name="com.example.MacGo.MacGoApplication"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
        >
        <activity
                android:name=".MyActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".PrePurchaseActivity"/>
        <activity android:name=".PurchaseToken" android:theme="@android:style/Theme.Panel"/>
        <activity android:name=".PurchaseItemHistory" android:theme="@style/mytransparent.windowTitle"/>
        <activity android:name=".AccountSettings" android:theme="@style/mytransparent.windowTitle"/>
        <activity android:name=".ChangePasscodeActivity" android:theme="@style/passcodeTheme" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".PasscodeAuthenticationActivity" android:theme="@style/passcodeTheme" android:windowSoftInputMode="stateHidden|adjustResize"/>

    </application>
</manifest>
